*
{
    padding: 0;
    margin: 0;
}
body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.navbar-links
{
    display: flex;
    column-gap: 20px;
}
.navbar-links a
{
    text-decoration: none;
    color: #1D232C;
}
.navbar-links a:hover
{
    text-decoration: underline;
    color: blueviolet;


}
.navbar-menu-toggle
{
    display: none;
}


/*side navbar*/

.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 1.5s;
    
}

.side-navbar-link{
    margin-bottom: 30px;
}


.side-navbar-link a{
    text-decoration: none;
    color: white;
}

.side-navbar-link a:hover{
    text-decoration: underline;
}

/*header*/

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
}

/*service*/
.service{
    padding: 20px;

}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.service-container-2 div{
    background-color:gray;
    border-radius: 5px;
    padding: 10px;
}

/*new arrival*/
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    flex-basis: 18%;
}
.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
}

/*news section*/
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}
.news input{
    padding: 11px;
    width: 80vw;
    margin-top: 5px;
    margin-bottom: 10px;
    border: solid black 3px;
}
.news button{
    margin-top: 3px;
    color: #F2F4F7;
    background-color: #1D232C;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
/*footer section*/
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: #F2F4F7;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-icon-container{
    margin-left: 190px;
    margin-top: 20px;
}
.footer p{
    margin-top: 20px;
}

/*products section*/
.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border: solid 2px black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;

}
.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.product-search input:focus{
    outline: none;
}
.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products-box{
    text-align: center;
    flex-basis: 20%;
}
.products-box img{
    border-radius: 10px;
}

/*contact section*/
.contact-section{
    background-color: #1D232C;
    padding: 50px;
    display: flex;
    color: white;
    justify-content: center;
    
}
.contact h2{
    margin-bottom: 30px;
}
.contact h3{
    margin-bottom: 8px;
    margin-top: 8px;
}
.contact-name{
    width: 60vw;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: none;
    margin-top: 2px;
}
.contact-email{
    width: 60vw;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: none;
    margin-top: 2px;
}
.contact-msg{
    width: 60vw;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 10px;
    border: none;
    margin-top: 2px;
}
.contact-button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    border: none;
}
/*media query*/

@media screen and (max-width:600px) {
    .navbar-menu-toggle
{
    display: block;
}
.navbar-links
{
    display: none;
}
.header-image{
    display: none;
}
.service-container-1{
    display: none;
}
.service-container-2{
    flex-direction: column;
}
}